<div class="panel-body">
  <div class="panel-info col-md-1">
  </div>
  <div class="panel-info col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Edit Event</h4>
      </div>
      <div class="panel-body">
        <%= render 'biography_events/form' %>
      </div>
    </div>
  </div>
  <div class="panel-info col-md-1">
  </div>
</div>

