<div class="grid-x grid-padding-x">
  <div class="cell medium-2">
  </div>
  <div class="cell medium-8">
    <h4>Create New Event</h4>

    <%= render 'biography_events/form' %>
  </div>
  <div class="cell medium-2">
  </div>
</div>

