<div class="row">
  <div class="panel-body">
    <div class="panel-info col-md-1">
    </div>
    <div class="panel-info col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Welcome to the Giles Clan App!</div>
        <div class="panel-body text-center">
          <p>Hopefully this may make life a little easier!?</p>
          <p>Overtime I'll try and build this up and may even use it to experiment
             with stuff I'm learning, but for now it's very basic.</p>
          <p>I also want to get the family biography on here so that we can all add to it.</p>
        </div>
      </div>
    </div>
    <div class="panel-info col-md-1">
    </div>
  </div>
</div>