<h1><%= @calendar_item.name %></h1>
<p><%= l @calendar_item.date_of_event %>, <%= l @calendar_item.time_of_event %></p>
<p><strong><%= @calendar_item.note %></strong></p>
<p>To view or edit all West Ham fixtures, <a href="http://www.gilesclan.me.uk/west_ham_dates">click here.</a></p>
