<div class="row">
  <div class="panel-body">
    <div class="panel-info col-xs-2">
    </div>
    <div class="panel-info col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Create New Event</h4>
        </div>
        <div class="panel-body">
          <%= form_for @date, url: calendar_items_path, method: :post do |f| %>
            <%= render 'calendar_items/form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-info col-xs-2">
    </div>
  </div>
</div>
