<div class="row">
  <div class="panel-body">
    <div class="panel-info col-md-1">
    </div>
    <div class="panel-info col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>West Ham Fixtures <%= link_to("Add Fixture", new_calendar_item_path, class: "pull-right") %></h4>
        </div>
        <%= render 'calendar_items/dates_listed', dates: @dates %>
      </div>
    </div>
    <div class="panel-info col-md-1">
    </div>
  </div>
</div>
